.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  font-size: 1.6rem;
  margin: 4rem auto 0 auto;
  border-radius: 7px;
  width: 65rem;
  padding: 1.4rem 3rem;

  &--on-list {
    margin: 2.5rem auto 0 auto;
    padding: 1.2rem 3rem;
  }
}

.link__shortened a{
  text-decoration: none;
  color: #234ebd;
}

.link__shortened a:hover{
  text-decoration: underline;
}

.link__copy,
.link__delete {
  border: none;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 500px;
  cursor: pointer;
  background: #eee;
}

.link__copy {
  margin-left: 1rem;
}

.link__delete {
  margin-left: .5rem;
}

.link__copy:hover,
.link__copy:focus,
.link__delete:hover,
.link__delete:focus {
  background: #e8e8e8;
  outline: none;
}

.link__copy img,
.link__delete img {
  width: 1.6rem;
}
