.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  font-size: 1.6rem;
  margin: 4rem auto 0 auto;
  border-radius: 7px;
  width: 65rem;
  padding: 1.4rem 3rem;

  @media only screen and (max-width: 700px) {
    width: 90%;
  }

  @media only screen and (max-width: 650px) {
    width: 80%;
    flex-direction: column;
  }

  @media only screen and (max-width: 420px) {
    width: 100%;
    padding: 1.2rem 1.5rem;
  }

  &--on-list {
    margin: 2.5rem auto 0 auto;
    padding: 1.2rem 3rem;

    @media only screen and (max-width: 420px) {
      padding: 1.2rem 1.5rem;
    }
  }
}
.link__shortened {
  display: flex;
  align-content: center;
  justify-content: center;

  @media only screen and (max-width: 650px) {
    margin-top: 0.5rem;
  }

  @media only screen and (max-width: 340px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    a {
      margin-bottom: 0.5rem;
    }
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #234ebd;
  }

  a:hover {
    text-decoration: underline;
  }
}

.link__copy,
.link__delete {
  border: none;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 500px;
  cursor: pointer;
  background: #eee;
}

.link__copy {
  margin-left: 1rem;
}

.link__delete {
  margin-left: 0.5rem;
}

.link__copy:hover,
.link__copy:focus,
.link__delete:hover,
.link__delete:focus {
  background: #e8e8e8;
  outline: none;
}

.link__copy img,
.link__delete img {
  width: 1.6rem;
}
