.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip  .tooltip__text {
  visibility: hidden;
  width: 6.5rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 7px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 135%;
  font-size: 1.4rem;
  margin-left: -6rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip__text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltip__text {
  visibility: visible;
  opacity: 1;
}
