*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-display: fallback;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #555;
  position: relative;
  background: #7b88ac;
  height: 100vh;
  padding: 2rem 0; }

h1 {
  display: block;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300; }

h2 {
  font-size: 2.5rem;
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 300; }

p {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 1rem; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.section {
  background: #0A1636;
  border-radius: 7px;
  width: 100rem;
  padding: 5rem 2rem 4.5rem 2rem;
  margin: 4rem auto;
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.1); }

.section--2 {
  padding: 4rem 7rem 4.5rem 7rem; }

.a-1 {
  font-size: 1.4rem;
  padding-top: 3rem; }

.a-2 {
  font-size: 1.4rem;
  margin-top: -2.8rem; }

.a-3 {
  margin: 3rem 0 1rem 0; }

.display-none {
  display: none !important; }

.text-center {
  text-align: center;
  align-items: flex-start; }

.margin-top-md {
  margin-top: 2rem; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(9px, 0); } }

.box {
  display: block;
  margin-top: 3rem;
  text-align: center; }

.box--error .message {
  display: inline-block; }

.box--error input {
  border: 2px solid #c0392b; }

.message {
  text-align: left;
  width: 70rem;
  display: none;
  font-size: 1.6rem;
  background: #c0392b;
  color: #fff;
  padding: .8rem 2rem;
  border-radius: 7px;
  margin-bottom: 1rem; }

.button {
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  background-color: #2A5BD7;
  border: none;
  color: #fff;
  border-radius: 7px; }

.button:hover {
  cursor: pointer;
  background-color: #234ebd; }

.button:focus {
  outline: none;
  background-color: #234ebd; }

.button:disabled {
  background: rgba(42, 91, 215, 0.5);
  cursor: not-allowed; }

.button-google-signin {
  background: #D73D32;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 26rem;
  height: 5rem;
  margin: 3rem auto 0 auto; }

.button-google-signin img {
  width: 3rem;
  margin-right: 1rem; }

.button-google-signin:hover,
.button-google-signin:focus {
  background: #c2362c;
  text-decoration: none; }

input {
  width: 70rem;
  text-align: center;
  color: #555;
  font-size: 1.6rem;
  padding: 1.3rem 2rem;
  border: 1px solid #eee;
  border-radius: 7px;
  margin-bottom: 3rem; }

input:focus {
  outline-color: #2A5BD7;
  outline-width: thick;
  outline-offset: -1px; }

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  font-size: 1.6rem;
  margin: 4rem auto 0 auto;
  border-radius: 7px;
  width: 65rem;
  padding: 1.4rem 3rem; }
  .link--on-list {
    margin: 2.5rem auto 0 auto;
    padding: 1.2rem 3rem; }

.link__shortened a {
  text-decoration: none;
  color: #234ebd; }

.link__shortened a:hover {
  text-decoration: underline; }

.link__copy,
.link__delete {
  border: none;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 500px;
  cursor: pointer;
  background: #eee; }

.link__copy {
  margin-left: 1rem; }

.link__delete {
  margin-left: .5rem; }

.link__copy:hover,
.link__copy:focus,
.link__delete:hover,
.link__delete:focus {
  background: #e8e8e8;
  outline: none; }

.link__copy img,
.link__delete img {
  width: 1.6rem; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 18px; }

.lds-ellipsis div {
  position: absolute;
  top: -7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 3px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 3px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 13px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 22px;
  animation: lds-ellipsis3 0.6s infinite; }

.tooltip {
  position: relative;
  display: inline-block; }

.tooltip .tooltip__text {
  visibility: hidden;
  width: 6.5rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 7px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 135%;
  font-size: 1.4rem;
  margin-left: -6rem;
  opacity: 0;
  transition: opacity 0.3s; }

.tooltip .tooltip__text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent; }

.tooltip:hover .tooltip__text {
  visibility: visible;
  opacity: 1; }

.confirmation-modal-container {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999; }

.confirmation-modal {
  background-color: #fff;
  border-radius: 7px;
  position: absolute;
  top: 3%;
  left: 50%;
  font-size: 1.6rem;
  color: #555;
  transform: translate(-50%, 0);
  width: 53rem;
  z-index: 999; }
  .confirmation-modal__header {
    padding: 1.4rem 1.6rem 0 1.6rem;
    display: flex;
    align-items: center; }
  .confirmation-modal__close-button {
    margin-left: auto;
    font-size: 2.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #8b8787; }
    .confirmation-modal__close-button:hover, .confirmation-modal__close-button:active, .confirmation-modal__close-button:focus {
      color: #555;
      outline: none; }
  .confirmation-modal__content {
    padding: .5rem 1.6rem; }
    .confirmation-modal__content p {
      text-align: left;
      color: #555;
      margin-top: 0; }
    .confirmation-modal__content strong {
      word-wrap: break-word; }
  .confirmation-modal__actions {
    display: block;
    padding: 0 1rem 1rem 1rem;
    width: 100%;
    text-align: right; }
    .confirmation-modal__actions button {
      padding: 1rem 2rem;
      font-size: 1.6rem;
      background-color: #c0392b;
      border: none;
      color: #fff;
      cursor: pointer;
      border-radius: 7px; }
      .confirmation-modal__actions button:hover, .confirmation-modal__actions button:focus {
        outline: none;
        background-color: #ac3225; }
    .confirmation-modal__actions button:disabled {
      cursor: not-allowed;
      background: rgba(172, 50, 37, 0.8); }

#snackbar {
  visibility: hidden;
  min-width: 25rem;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 7px;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  padding: 1.4rem 1rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 3rem;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.2); }

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.4s, fadeout 0.4s 3.5s;
  animation: fadein 0.4s, fadeout 0.4s 3.5s; }

#snackbar.success {
  background-color: #35b46b !important; }

#snackbar.error {
  background-color: #c0392b !important; }

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 3rem;
    opacity: 1; } }

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 3rem;
    opacity: 1; } }

@-webkit-keyframes fadeout {
  from {
    bottom: 3rem;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

@keyframes fadeout {
  from {
    bottom: 3rem;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }
